In [ ]:
# https://wikidocs.net/162786

In [1]:
import re
import pandas as pd

# 카카오톡 데이터 전처리
def katalk_msg_parse(file_path):
    my_katalk_data = list()
    katalk_msg_pattern = "[0-9]{4}[년.] [0-9]{1,2}[월.] [0-9]{1,2}[일.] 오\S [0-9]{1,2}:[0-9]{1,2},.*:"
    date_info = "[0-9]{4}년 [0-9]{1,2}월 [0-9]{1,2}일 \S요일"
    in_out_info = "[0-9]{4}[년.] [0-9]{1,2}[월.] [0-9]{1,2}[일.] 오\S [0-9]{1,2}:[0-9]{1,2}:.*"

    for line in open(file_path, encoding="UTF-8"):
        if re.match(date_info, line) or re.match(in_out_info, line):
            continue
        elif line == '\n':
            continue
        elif re.match(katalk_msg_pattern, line):
            line = line.split(",")
#             date_time = line[0]
            user_text = line[1].split(" : ", maxsplit=1)
            user_name = user_text[0].strip()
            text = user_text[1].strip()
            my_katalk_data.append({
                                   'user_name': user_name,
                                   'text': text
                                   })

        else:
            if len(my_katalk_data) > 0:
                my_katalk_data[-1]['text'] += "\n"+line.strip()

    my_katalk_df = pd.DataFrame(my_katalk_data)

    return my_katalk_df

In [2]:
# 파일 리스트
import os

path = 'C:\\Users\\HP\\Desktop\\final\\REMEMBER\\remember\\data\\'
file_list = os.listdir(path)
file_list

['Talk_1.txt', 'Talk_2.txt', 'Talk_3.txt']

In [3]:
chat_room_list = list()
for f_name in file_list:
    chat_room = katalk_msg_parse(os.path.join(path, f_name))
    chat_room_list.append(chat_room)

df = pd.concat(chat_room_list, ignore_index=True)
df

      user_name                                        text
0           이남경                                 01063697750
1           이남경                                       너가 일빠
2           권잡스                                      ㅋㅋㅋㅋㅋㅋ
3           권잡스                                        이모티콘
4           권잡스                                          사진
...         ...                                         ...
37145       권잡스  500원을 보냈어요. 송금 받기 전까지 내역 상세화면에서 취소할 수 있어요.
37146       권잡스                   뭔가 성빈이랑 나영이랑 얘기가 있었던거 같은데
37147       권잡스                                  우리한테 얘기한건데
37148       권잡스                                 넘 크게 말했나 해서
37149       이남경                                         에잇!

[37150 rows x 2 columns]

In [4]:
df.to_excel('C:\\Users\\HP\\Desktop\\final\\REMEMBER\\remember\\data\\kakaolist.xlsx', sheet_name='new_name')